<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const getAnimalData=async ()=>{
        let resp = await fetch("https://fakerapi.it/api/v1/persons")
        let dataobj = await resp.json();
        document.getElementById("content").innerHTML=JSON.stringify(dataobj.data);
    }

    </script>
    <button onclick="getAnimalData()">get Data</button>
    <p id="content"></p>
    
    <script src="../script/getData.js"></script>
</body>
</html>